<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOR Detector</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <h1>Fake or Real? An AI Powered Audio Deepfake Detector</h1>
    </div>

    <div class="container">
      <div class="record_container">
        <div class="record-box">
          <h3>Press record for a prediction:</h3>
          <button id="startBtn" class="record">Record</button>
          <button id="stopBtn" class="stop">Stop</button>
        </div>
      </div>
      <div class="upload_container">
        <div class="upload_box">
          <h3>Or upload an exsisting audio file:</h3>
          <form method="post" action="/upload" enctype="multipart/form-data">
            <div>
              <label for="file" class="custom-file-label"
                >Browse Audio File</label
              >
              <input
                type="file"
                id="file"
                name="myFile"
                style="display: none"
              />
            </div>
            <div>
              <button class="detect_btn">Detect Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="result_container">
      <div class="result_box">
        <p>{{file_content}}</p>
      </div>
    </div>
    <script
      type="module"
      src="{{ url_for('static', filename='js/record.js') }}"
    ></script>
  </body>
</html>
